@charset "UTF-8";
/* Mobile First */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Martel+Sans&display=swap');

:root {
  --cor01: #0D0D0D;
  --cor02: #590202;
  --cor03: #F20732;
  --cor04: #A60815;
  --cor05: #D90B1C;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #181818;
}

#cabecalho {
  background-color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
  color: #E50914;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  font-family: 'Bebas neue', sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
}

h1 {
  text-shadow: 1px 2px 0px rgba(255, 255, 255, 0.13);
}

#conteudo-principal {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 20px;
  margin: 10px;
}

.imagem {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

p {
  color: rgb(189, 185, 185);
  text-align: justify;
  margin: .3px;
  padding: 5px;
}

.botao {
  background-color: #F40612;
  border: 2px solid #F40612;
  border-radius: 2px;
  height: 40px;
  color: white;
  padding: 5px;
  margin: 5px;
  font-family: 'Martel Sans', sans-serif;
}

.botao:hover {
  cursor: pointer;
}