@charset "UTF-8";
/* Mobile First */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Martel+Sans&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #181818;
}

#cabecalho {
  background-color: #0000001f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
  color: #E50914;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 7px 0px 3px 28px;
  width: 100%;
  
  font-family: 'Bebas neue', sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
}

.search-text {
  background: none;
  border: 0;
  outline: 0;
  
  padding: 0;
  
  font-size: 16px;

  width: 0;

  transition: 0.4s;
}

.search-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.search-box {
  background: #fff;
  height: 60px;
  padding: 10px;
  border-radius: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box:hover > .search-text {
  width: 320px;
  padding-left: 20px;
}

.search-box:hover > .search-btn {
  background: #181818;
}

.search-box:hover > .search-btn .loupe-red {
  display: none;
}

.search-box:hover > .search-btn .loupe-white {
  display: block;
}

.loupe-white {
  display: none;
}


a {
  
  color: #E50914;
  font-size: 19px;
  padding: 4px;
  text-decoration: none;

}

h1 {
  text-shadow: 1px 2px 0px rgba(255, 255, 255, 0.13);
}

#conteudo-principal {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 20px;
  margin: 10px;
}

.filmes {
  display: flex;
  flex-direction: column;
  padding: 0px, 4px, 0px, 0px;
  gap: 5px;
}

p {
  color: rgb(189, 185, 185);
  text-align: justify;
  margin: .3px;
  padding: 5px;
}

.botao {
  background-color: #F40612;
  border: 2px solid #F40612;
  border-radius: 2px;
  height: 40px;
  color: white;
  padding: 5px;
  margin: 5px;
  font-family: 'Martel Sans', sans-serif;
}

.botao:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #aeaeae;
}